In [2]:
import pandas as pd

customer_df = pd.read_csv('customer_spend.csv')
customer_df.head()

,cur_year_spend,prev_year_spend,days_since_last_purchase,days_since_first_purchase,total_transactions,age,income,engagement_score
0,5536.46,1681.26,7,61,34,61,97914.93,-0.652392
1,871.41,1366.74,12,34,33,68,30904.69,0.007327
2,2046.74,1419.38,10,81,22,54,48194.59,0.221666
3,4662.70,1561.21,12,32,34,49,93551.98,1.149641
4,3539.46,1397.60,17,72,34,66,66267.57,0.835834

In [3]:
# dividir en train y test utilizando la columna cur_year_spend como y
from sklearn.model_selection import train_test_split

y = customer_df['cur_year_spend']
X = customer_df.drop(['cur_year_spend'], axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=100)

In [4]:
# aplicar regresi√≥n lasso
from sklearn.linear_model import Lasso

lasso_model = Lasso(normalize=True, random_state=10)
lasso_model.fit(X_train, y_train)

lasso_model.coef_

array([ 0.79861231, -0.        , 14.24449821, 46.31232727, -0.        ,
        0.05781234,  0.        ])

In [8]:
val_coef = pd.DataFrame(lasso_model.coef_, X_train.columns, columns=['coef'])
val_coef

                                coef
prev_year_spend             0.798612
days_since_last_purchase   -0.000000
days_since_first_purchase  14.244498
total_transactions         46.312327
age                        -0.000000
income                      0.057812
engagement_score            0.000000