In [ ]:
import pandas as pd
import os

os.listdir()

['.git',
 '.ipynb_checkpoints',
 'Capitulo-2.ipynb',
 'Capitulo-2.py',
 'conversion_rates.csv',
 'CTA_comparison.csv',
 'newspaper_prices.csv',
 'README.md']

In [ ]:
### Ejercicio 8
data = pd.read_csv('conversion_rates.csv')
data

      converted group
0             0     B
1             0     B
2             0     A
3             0     B
4             0     A
...         ...   ...
1995          0     B
1996          0     B
1997          0     A
1998          0     A
1999          1     A

[2000 rows x 2 columns]

In [ ]:
viewed = data.groupby('group').sum()
viewed

       converted
group
A             90
B             21

In [ ]:
stats = data.groupby('group').agg(
    Converted = pd.NamedAgg(column='converted', aggfunc='sum'),
    Viewed = pd.NamedAgg(column='converted', aggfunc='count')
)
stats

       Converted  Viewed
group
A             90    1030
B             21     970

In [ ]:
stats['conversion_ratio'] = stats.Converted / stats.Viewed
stats

       Converted  Viewed  conversion_ratio
group
A             90    1030          0.087379
B             21     970          0.021649

In [ ]:
df = stats.stack()
df

group
A      Converted             90.000000
       Viewed              1030.000000
       conversion_ratio       0.087379
B      Converted             21.000000
       Viewed               970.000000
       conversion_ratio       0.021649
dtype: float64

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=ff5e2091-543c-4b2c-9a56-1e41bbaff775' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>